<% include ../menu.html %>
 <div style="margin-left: 160px;padding:6px 8px 6px 16px;"><br><br>
  <div class="page-header"><h1> Cleaning Agents Management Panel</h1></div>
  <div class="col-lg-10">
      <% var keys=Object.keys(cleaningagents)%>
        <div class="card example-1">
         <div class="card-body anyClass">
             <p><%= size %></p>
          <table class="table table-hover" border="2">
            <thead class="thead-dark">
            <tr>
                <th>UserName</th>
                <th>Phone</th>
                <th>Account Status</th>
                <th>Wallet Balance</th>
                <th>Profile Pic</th>
                <th>Nationl ID</th>
                <th>Working Certificate</th>
                <th>Approve</th>
                <th>Deactivate</th>
                <th>Reject</th>
                <th>Trips</th>
            </tr>
            </thead>
            <tbody>
            <% keys.forEach(function(agent){ %>
                <tr onmouseover="{ GetCleaningAgentRating('<%= agent %>') }">
                    <td><%= cleaningagents[agent].userName %></td>
                    <td><%= cleaningagents[agent].phone %></td>
                    <td><%= cleaningagents[agent].accountStatus %></td>
                    <td><%= cleaningagents[agent].walletBalance %> UGX</td>
                    <td><a target="_blank" href="<%= cleaningagents[agent].profilePic %>"><img height="30" width="30" src="<%= cleaningagents[agent].profilePic %>"/></a></td>
                    <td><a target="_blank" href="<%= cleaningagents[agent].NationalIDPic %>"><img height="30" width="30" src="<%= cleaningagents[agent].NationalIDPic %>"/></a></td>
                    <td><a target="_blank" href="<%= cleaningagents[agent].WorkingCertificate %>"><img height="30" width="30" src="<%= cleaningagents[agent].WorkingCertificate %>"/></a></td>
                    <td><button style='margin-top:5px' class="btn btn-primary" onclick="{ approveRest('<%= agent %>')}" id='approveButton'>Approve</button></td>
                    <td><button style='margin-top:5px' class="btn btn-primary" onclick="{ deactivateRest('<%= agent %>')}" id='deactivateButton'>Deactivate</button></td>
                    <td><button style='margin-top:5px' class="btn btn-primary"  onclick="{ rejectRest('<%= agent %>')}" id='rejectButton'>reject</button></td>
                    <td><a href="/viewSingleCleaningAgentServiceHistory/<%= agent %>/"><button class="btn btn-primary"  id='singleTripsButton'>History</button>  </a></td>
                   </tr>
              <% })%>
            </tbody>
        </table>
    </div>       
</div></div>
<div class="col-lg-2">
             <h1>Rating</h1>
             <h1 id=rating></h1>
        </div>
</div>
