<% include ../menu.html %>
<div style="margin-left:160px;padding:6px 8px 6px 16px;"><br><br>
    <div class="page-header"><h1>Welcome to BodaBoda Management Panel</h1></div>
            <% var keys=Object.keys(bodabodas)%>
            <div class="col-lg-10 anyClass" >
                    <div class="card example-1">
                   <div class="card-body">
            <table class="table table-hover" border="2">
                <thead class="thead-dark">
                <tr>
                    <th>Total Riders</th>
                    <th><p><%= size %></p></th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Balance</th>
                    <th>Helment No.</th>
                    <th>Photo</th>
                    <th>ID</th>
                    <th>Approve</th>
                    <th>Deactivate</th>
                    <th>Reject</th>
                    <th>Trips</th>
                    <th>Pay Agent</th>

                </tr>
                </thead>
                <tbody>
                <% keys.forEach(function(agent){ %>
                    <tr onmouseover="{ GetBodaRating('<%= agent %>') }">
                        <td ><%= bodabodas[agent].userName %></td>
                        <td style="text-align: left"><%= bodabodas[agent].phone %></td>
                        <td ><%= bodabodas[agent].accountStatus %></td>
                        <td ><%= bodabodas[agent].walletBalance %> UGX</td>
                        <td ><%= bodabodas[agent].helMentNo %></td>
                        <td ><a target="_blank" href="<%= bodabodas[agent].profilePic %>"><img height="30" width="30" src="<%= bodabodas[agent].profilePic %>"/></a></td>
                        <td style=""><a target="_blank" href="<%= bodabodas[agent].NationalIDPic %>"><img height="30" width="30" src="<%= bodabodas[agent].NationalIDPic %>"/></a></td>
                         <td><button style='margin-top:5px' class="btn btn-primary"onclick="{ approveBodaAgent('<%= agent %>') }" id='approveButton'>Approve</button></td>
                        <td><button style='margin-top:5px' class="btn btn-primary"  onclick="{ rejectBodaAgent('<%= agent %>') }" id='rejectButton'>reject</button></td>
                        <td><button style='margin-top:5px' class="btn btn-primary"onclick="{ deactivateBodaAgent('<%= agent %>') }" id='deactivateButton'>Deactivate</button></td>
                        
                        <td style=""><a href="/viewSingleRiderTrips/<%= agent %>/"><button class="btn btn-success"  id='singleTripsButton'>History</button>  </a></td>
                        <td style=""><a href="/payRider/<%= agent %>/"><button class="btn btn-success"  id='paymentsButton'>Pay Agent</button></a></td>

                      
                    </tr>
                <% })%>
                </tbody>
            </table>
            </div>
            </div>
        </div>
        <div class="col-lg-2">
             <h1>Rating</h1>
             <h1 id=rating></h1>
        </div>
    </div>




